*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 
ul[class],
ol[class] {
  padding: 0;
} */

body{
  margin: 0;
}
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }
input,
button,
textarea,
select {
  font: inherit;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background: rgb(42, 31, 104);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-calc{
    width: 350px;
    height: 500px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.13);
}
.calc_entry-field{
    margin-top: 50px;
    width: 100%;
    height: 80px;
    background: rgba(42, 31, 104, 0.733);
    
}
.entry-field__input{
    width: 100%;
    height: 40px;
    
}
.save-input{
width: 100%;
height: 100%;
border: none;
font-size: 16px;
font-family: 'Noto Sans', sans-serif;
color: #fff;
background: rgba(255, 255, 255, 0);

}

.input{
    width: 100%;
    height: 100%;
    border: none;
    color: #fff;
    font-size: 35px;
    font-family: 'Noto Sans', sans-serif;
    background: rgba(255, 255, 255, 0);
}